.custom-swiper-navigation .swiper-button-prev,
.custom-swiper-navigation .swiper-button-next {
  color: white !important;
  opacity: 1 !important;
}

.custom-swiper-navigation .swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 35px) !important;
}